@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr: #9bbfff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: roboto;
    line-height: 1.6;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    place-items: center;
    background: var(--clr);
}

.navigation {
    background: #0866FF;
    background-image: linear-gradient(to bottom, #0070C0, #9bbfff);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigation img{
    padding-top: 1.5rem;
    width: 120px;
}

.navigation ul {
    padding-top: 3rem;
    gap: 100px;
    display: flex;
    width: 350px;
}

.navigation ul li{
    list-style: none;
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
    bottom: 25px;
}

.navigation ul li a {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #333333;
}

.navigation ul li.active a .icon{
    transform: translateY(-32px);
}

.navigation ul li a .text{
    position: absolute; 
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

section {
    min-height: 100vh;
}

.center-lize {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
}

.center-lize h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
}


#about {
    padding-top: 8rem;
    min-height: 100vh;
    text-align: center;
    color: #000000;
}

#about h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#about p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    padding: 0px 55px;
    text-align: center;
}

#services {
    padding-top: 8rem;
    padding-bottom: 5rem;
    text-align: center;
    color: #000000;
}

#services h2 {
    font-size: 3rem;
    margin-bottom: 5rem;
}

.aboutS{
    text-align: justify;
}

.service {
    flex: 1;
    text-align: center;
    font-weight: bold;   
}

#contact{
    display: grid;
    place-items: center;
    height: 100vh; 
}

form{
    background: #0866FF;
    background-image: linear-gradient(to bottom, #0070C0, #9bbfff);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
    width: 100%;
    max-width: 30rem;
    text-align: center;
}

form h1{
    font-size: 36px;
    text-align: center;
}

input, textarea, button {
    display: block;
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}

input, textarea{
    margin-bottom: 1rem;
    border: 0.125rem, solid, transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s,
    boxshadow 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: #1d90f5;
  box-shadow: 0 0 0 0.3125rem #26344a;
}

textarea {
    min-height: 12.5rem;
    resize: vertical;
}

button {
    border: none;
    border-radius: 99px;
    color: gray;
    background: #ffffff;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover,
  button:focus {
    outline: none;
    background: #0070C0;
  }
  
  button:disabled {
    cursor: not-allowed;
    background: #555b69;
  }

footer {
    background-color: .333;
    color: #fff;
    text-align: center;
    margin-top: 3rem;
}